
body {
    --color-bg: rgb(26, 24, 24);
    --color-text: rgb(255, 255, 255);
}

body {
    background-color: var(--color-bg);
}

h1 {
    color: var(--color-text);
}

ol {
    color: var(--color-text);
}

li {
    color: var(--color-text);
}

a {
    color: var(--color-text);
}